:root {
    --bg-color: white;
    --header-color: #90caf9;
    --footer-color: #90caf9;
    --button-color: #90caf9;
    --loading-color: grey;
    --border-color: #90caf9;
}

/* Header css */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7vh;
    margin-bottom: 5vh;
    background: var(--header-color);
    text-align: center;
}

.header-title {
    color: floralwhite;
    font-family: "Hiragino Maru Gothic Pro", cursive;
    font-size: 3vh;
    font-weight: bold;
    line-height: 7vh;
    margin-left: 1.5vh;
}

.header-icons svg {
    color: floralwhite;
    font-size: 3vh !important;
    margin-right: 1.5vh;
}

/* Footer css */
footer {
    width: 100%;
    height: 7vh;
    margin-top: 5vh;
    background: var(--footer-color);
    text-align: center;
    color: floralwhite;
    font-family: "Hiragino Maru Gothic Pro", cursive;
    font-size: 1.7vh;
    line-height: 7vh;
}

/* Container css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 76vh;
    background: var(--bg-color);
}

.upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 90vw;
}

.upload-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 60vw;
    border: 1px dashed var(--border-color);
}

.upload img {
    max-width: 100%;
    max-height: 100%;
}

img.default {
    width: 20vw;
    height: 20vw;
}

.upload label {
    width: 60vw;
    color: var(--button-color) !important;
    font-family: "Hiragino Maru Gothic Pro", cursive !important;
    border-color: var(--button-color) !important;
    margin: 3vh 0 3vh 0;
}

.result {
    width: 60vw;
    height: 90vw;
}

.result svg {
    color: white;
}

/* web */
@media only screen and (min-width: 1024px) {
    /* web css */
    .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .upload {
        width: 30vw;
        height: 40vw;
    }

    .upload-box {
        width: 30vw;
        height: 30vw;
    }

    img.default {
        width: 10vw;
        height: 10vw;
    }

    .upload label {
        width: 30vw;
    }

    .result {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30vw;
        height: 40vw;
    }
}