:root {
    --bg-color: white;
    --header-color: #90caf9;
    --footer-color: #90caf9;
}

/* Header css */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7vh;
    background: var(--header-color);
    text-align: center;
}

.header-title {
    color: floralwhite;
    font-family: "Hiragino Maru Gothic Pro", cursive;
    font-size: 3vh;
    font-weight: bold;
    line-height: 7vh;
    margin-left: 1.5vh;
}

.header-icons svg {
    color: floralwhite;
    font-size: 3vh !important;
    margin-right: 1.5vh;
}

/* Footer css */
footer {
    width: 100%;
    height: 7vh;
    background: var(--footer-color);
    text-align: center;
    color: floralwhite;
    font-family: "Hiragino Maru Gothic Pro", cursive;
    font-size: 1.7vh;
    line-height: 7vh;
}
